<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather App</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body style="--bg-image: url('/images/<% if (locals.bgImage) { %><%= locals.bgImage %><% } else { %>clear-day.jpg<% } %>');">
        <form action="/" method="get" class="back-form">
            <button type="submit" class="back-btn">Back</button>
        </form>        
        <div class = 'info'>
            <h1 class="city"><% if (locals.city) { %><%= locals.city %><% } else { %>City not found<% } %></h1>
            <h1 class="temperature"><% if (locals.current) { %><%= locals.current.temp_c %>°C<% } else { %>Temperature not available<% } %></h1>
            <h1 class="feels-like">Feels Like: <% if (locals.current) { %><%= locals.current.feelslike_c %>°C<% } else { %>Not available<% } %></h1>
            <h1 class="description"><% if (locals.description) { %><%= locals.description %><% } else { %>Description not available<% } %></h1>
            <h1 class="humidity"><b>Humidity:</b> <% if (locals.current) { %><%= locals.current.humidity %>%<% } else { %>Not available<% } %></h1>
            <h1 class="wind-speed"><b>Wind Speed:</b> <% if (locals.current) { %><%= locals.current.wind_kph %> km/h<% } else { %>Not available<% } %></h1>
        </div>
    </body>
</html>